.list-heading {
  color: #ffffff;
}

.list-element {
  background-color: #272727;
  padding: 30px;
  background-size: cover;
  margin-bottom: 10px;
  border-radius: 8px;
  width: 60vw;
}

.company-logo {
  height: 60px;
}

.logo-container {
  display: flex;
  margin-bottom: 15px;
}

.heading-rating-container {
  margin-left: 20px;
}

.title {
  color: #ffffff;
  margin-bottom: 15px;
}

.rating {
  color: #ffffff;
}

.star-logo {
  height: 20px;
  margin-right: 15px;
}

.rating-container {
  display: flex;
}

.ms-location {
  color: #ffffff;
}

.location {
  color: #ffffff;
}

.location-container {
  display: flex;
  align-self: center;
  align-items: center;
  margin-right: 12px;
}

.location-type-container {
  display: flex;
}

.location-type-package-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}

.package {
  color: #ffffff;
}

.discription {
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.job-discription {
  color: #ffffff;
}

.link-to-other {
  text-decoration: none;
}
