.job-details-id {
  background-color: #000000;
  background-size: cover;
  padding: 20px;
}
* {
  margin: 0px;
}

.loader-container {
  display: flex;
  justify-content: center;
}

.details-container {
  background-color: #272727;
  background-size: cover;
  padding: 20px;
  border-radius: 15px;
}

.whole-image-title-container {
  display: flex;
}
.heading-container {
  margin-left: 15px;
}

.loaction-jobtype {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}
.loaction-container {
  display: flex;
  margin-right: 15px;
}

.location {
  color: #ffffff;
}

.horizantal {
  margin-top: 10px;
  margin-bottom: 10px;
}

.loaction-lpa-container {
  display: flex;
  align-self: center;
}
.lpa {
  color: #ffffff;
}

.discription {
  color: #ffffff;
}

.discription-container {
  display: flex;
  justify-content: space-between;
}

.skills {
  color: #ffffff;
}

.list-skills-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.skills-list {
  display: flex;
  align-self: center;
  align-items: center;
}

.skill-name {
  color: #ffffff;
  margin-left: 15px;
}

.life-company-container {
  display: flex;
}
