.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  padding: 25px;
}

* {
  margin: 0px;
}

.heading {
  color: #ffffff;
  margin-bottom: 25px;
}

.para {
  color: #ffffff;
  margin-bottom: 25px;
}

.find-button {
  height: 40px;
  width: 120px;
  background-color: #4f46e5;
  border-radius: 8px;
  border-width: 0px;
  color: #ffffff;
  cursor: pointer;
}
