.retry-button {
  background-color: #6366f1;
  height: 40px;
}

.profile-bg-image {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  height: 250px;
  width: 280px;
  padding: 30px;
}

.horizantal-line {
  width: 280px;
  margin-bottom: 25px;
  margin-top: 25px;
}
