.login-container {
  background-color: #000000;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login-mini-container {
  background-color: #272727;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.website-logo {
  height: 40px;
  text-align: center;
}
.username-container {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 15px;
}

.input {
  color: #ffffff;
  margin-bottom: 10px;
}

.input-field {
  background-color: transparent;
  border: 1px solid #f8fafc;
  height: 30px;
  width: 320px;
  border-radius: 4px;
  color: #ffffff;
}

.button {
  height: 30px;
  width: 320px;
  background-color: #6366f1;
  color: #ffffff;
  border-radius: 5px;
  border-width: 0px;
}

.button-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.error-msg {
  color: #ff0b37;
}
